@font-face {
  font-family: 'aeonik';
  src: url('../fonts/Aeonik-Regular.woff2') format('woff2'),
       url('../fonts/Aeonik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'futura condensed';
  src: url('../fonts/futura_cn-xb.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  /* font-display: swap; */
} 

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:focus,
a:focus { 
  outline: none;
  outline:0;
}
* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark; /* both supported */
}

*, :after, :before, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Themes Styles */

:root {
  --orange: #FF3C00;
  --bg-light:#F8F8F8;
  --purple: #c9c3d1;
  --bg-dark: #080014;
}

html, body {
  margin: 0;
}

body {
  font-family: 'aeonik', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizelegibility;
  background-color: #F8F8F8;
  color: #FF3C00;
}

body.is-night {
  background-color: var(--bg-dark);
  color: var(--purple);
}

body.is-day {
  background-color: var(--bg-light);
  color: var(--orange);
}

.container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}


/* Header & Footer */

header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 0;
}

h1 {
  padding: 9vw 0 1vw;
  font-family: 'futura condensed';
  font-size: 15vw;
  line-height: .85;
  text-transform: uppercase;
  margin-left: -.5vw;
  transition: opacity .2s ease-in-out .1s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  letter-spacing: .025em;
}

.btn {
  border: 1px solid rgba(255, 60, 0, .35);
  padding: 0.75em 1.25em;
  border-radius: 2em;
  font-size: 1.15em;
  transition: all 250ms ease-in;
}

.btn:hover {
  border: 1px solid rgba(255, 60, 0, .15);
  background: rgba(255, 60, 0, .05);
}

body.is-night .btn {
  border: 1px solid rgba(200, 194, 208, .35);
}

body.is-night .btn:hover {
  border: 1px solid rgba(200, 194, 208, .15);
  background: rgba(200, 194, 208, .05);
}

footer {
  font-size: 1.15em;
  padding: 105px 0 35px;
  border-top: 1px solid rgba(255, 60, 0, .25);
}

body.is-night footer {
  border-top: 1px solid rgba(200, 194, 208, .25);
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-left a {
  position: relative;
  margin-right: 2em;
}

footer :after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0;
  height: 1px;
  background: rgba(127, 127, 127, .5);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

footer a:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}

.footer-right {
  display: flex;
}

.footer-right > svg {
  margin-right: 7px;
  fill: var(--orange);
}

body.is-night .footer-right > svg {
  fill: var(--purple);
}

/* Is Resized */

.is-resized {
  position: fixed;
  inset: 0;
  z-index: 1111;
  background-color: var(--orange);
  color: var(--bg-light);
}

body.is-night .is-resized {
  background-color: var(--purple);
  color: var(--bg-dark);
}

#viewport-size {
  position: absolute;
  top: 1em;
  left: 1em;
  font-family: 'futura condensed';
  text-transform: uppercase;
  font-size: 2em;
}

#is-resized {
  display: none;
}

/* Sections */

section.accordion {
  position: relative;
  cursor: pointer;
  margin-top: -1px;
  border-top: 1px solid rgba(255, 60, 0, .25);
}

body.is-night section.accordion {
  border-top: 1px solid rgba(200, 194, 208, .25);
}

.section-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5em;
  padding: 35px 0;
}

.trigger-left {
  display: flex;
  align-items: center;
}

.trigger-left h2 {
  padding-left: 50px;
  font-weight: 400;
}

.trigger-right {
  display: block;
  width: 40px;
  height: 50px;
  font-size: 1.75em;
  position: relative;
}

.trigger-right span {
  position: absolute;
  top: -15px;
  left: -3px;
}

footer a,
.trigger-left h2,
.trigger-right span {
  transition: opacity .2s ease-in-out .1s;
}

footer.not-acc a,
.header.not-acc h1,
.not-acc .trigger-left h2,
.not-acc .trigger-right span {
  opacity: .25;
}

/* Inactive Sessions */

section.accordion.inactive {
  pointer-events: none;
}

section.accordion.inactive .trigger-left h2,
section.accordion.inactive.not-acc .trigger-left h2
 {
  opacity: .25;
}

section.accordion.inactive .trigger-right span,
section.accordion.inactive.not-acc .trigger-right span {
  display: none;
}

section.accordion.inactive .acc-dot {
  border-color: rgba(127, 127, 127, .5);
}

/* Dots */

.acc-dot {
  position: absolute;
  height: 24px;
  width: 24px;
  margin-right: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid;  
}

.acc-dot--menugrey {
  border-color: gray;
}

.section-trigger.is-active .acc-dot--menugrey {
  background-color: gray;
}

.acc-dot--menugold {
  border-color: #ffcc49;
}

.section-trigger.is-active .acc-dot--menugold {
  background-color: #ffcc49;
}

.acc-dot--menugreen {
  border-color: #43ba7f;
}

.section-trigger.is-active .acc-dot--menugreen {
  background-color: #43ba7f;
}

.acc-dot--menupurple {
  border-color: #c281d1;
}

.section-trigger.is-active .acc-dot--menupurple {
  background-color: #c281d1;
}

.acc-dot--menuoragne {
  border-color: #fd7e41;
}

.section-trigger.is-active .acc-dot--menuoragne {
  background-color: #fd7e41;
}

.acc-dot--menublue {
  border-color: #044dd5;
}

.section-trigger.is-active .acc-dot--menublue {
  background-color: #044dd5;
}

.accordion:hover .acc-dot,
.active-acc .acc-dot {
  -webkit-transform: scale(1);
  transform: scale(1);
  position: absolute;
  -webkit-animation-name: dot-animation;
  animation-name: dot-animation;
  -webkit-animation-duration: .5s;
  animation-duration: .5s
}


@-webkit-keyframes dot-animation {
0% {
  -webkit-transform: scale(0);
  transform: scale(0)
}

70% {
  -webkit-transform: scale(1.2);
  transform: scale(1.2)
}

to {
  -webkit-transform: scale(1);
  transform: scale(1)
}
}

.acc-dot--on {
  -webkit-transform: scale(1);
  transform: scale(1);
  position: relative
}

/* */

.section-trigger .trigger-right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-name: arrow-back-animation;
  animation-name: arrow-back-animation;
  -webkit-animation-duration: .7s;
  animation-duration: .7s; 
}

.section-trigger.is-active .trigger-right {
  -webkit-animation-name: arrow-animation;
  animation-name: arrow-animation;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

@-webkit-keyframes arrow-back-animation {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }
  
  30% {
    -webkit-transform: rotate(-100deg);
    transform: rotate(-100deg)
  }
  
  90% {
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg)
  }
  
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
}

@keyframes arrow-back-animation {
  0% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }
  
  30% {
    -webkit-transform: rotate(-100deg);
    transform: rotate(-100deg)
  }
  
  90% {
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg)
  }
  
  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
}

@-webkit-keyframes arrow-animation {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
  
  15% {
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg)
  }
  
  85% {
    -webkit-transform: rotate(-100deg);
    transform: rotate(-100deg)
  }
  
  to {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }
}

@keyframes arrow-animation {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }
  
  15% {
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg)
  }
  
  85% {
    -webkit-transform: rotate(-100deg);
    transform: rotate(-100deg)
  }
  
  to {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }
}

/* Sections Content */

.section-header {
  font-size: 2.5em;
  font-weight: 400;
  border-bottom: 1px solid rgba(127, 127, 127, .25);
  padding: 35px 0 19px;
}

.row {
  display: flex;
  padding: 35px 0;
}

.section-content .row:last-of-type {
  padding: 35px 0 95px;
}

.row .col {
  display: block;
  width: 50%;  
}

.row .col:nth-child(odd) ul {
  padding-right: 30px;
}

.row .col:nth-child(even) ul {
  padding-left: 30px;
}

.row .col li a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75em;
  padding: .55em 0;
  border-bottom: 1px solid rgba(255, 60, 0, .25);
  text-transform: capitalize;
}

body.is-night .row .col li a {
  border-bottom: 1px solid rgba(200, 194, 208, .25);
}

.row .col li a:after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 0;
  height: 1px;
  background: rgba(255, 60, 0, .5);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

body.is-night .row .col li a:after {
  background: rgba(200, 194, 208, .5);
}

.row .col li a:hover::after {
  left: 0;
  right: auto;
  width: 100%;
}

.row .col li a span {
  transform: rotate(-45deg);
  opacity: .35;
}

.row .col li .tag {
  display: block;
  background: rgba(255, 60, 0, .15);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: .5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: rotate(0);
  opacity: 1;
}

body.is-night .row .col li .tag {
  background: rgba(200, 194, 208, .15);
}

/* Desktop Computer based on screen width */
@media screen 
  and (min-width: 1567px) {	
  
  .container {
    width: 80%;
  }
}

/* Large Laptop based on screen width */
@media screen 
  and (min-width: 1281px) 
  and (max-width: 1566px) {	
  
}

/* Small Laptop based on screen width */
@media screen 
  and (min-width: 1081px) 
  and (max-width: 1280px) {	
    
  .container {
    width: 90%;
  }
}

/* iPad Landscape based on screen width */
@media screen 
  and (max-width: 1080px)  {	
  
  .section-trigger {
    font-size: 1.75em;
  }
  
  .trigger-right {
    width: 23px;
    height: 18px;
  }
  
  .section-header {
    font-size: 2.25em;
  }
  
  .row {
    display: block;
  }
  
  .row .col {
    width: 100%;
  }
  
  .row .col:nth-child(even) ul,
  .row .col:nth-child(odd) ul {
    padding: 0;
  }
}

/* iPad Portrait based on screen width */
@media screen 
  and (max-width: 768px)  {}

/* iPhone Portrait based on screen width */
@media screen 
  and (max-width: 480px)  {	
  
  header .container {
    padding: 15px 0 35px;
  }
  
  h1 {
    font-size: 19.25vw;
    margin-top: 15vw;
  }
    
  .section-trigger {
    padding: 25px 0;
  }

  .section-trigger {
    font-size: 1.5em;
  }

  .trigger-left h2 {
    padding-left: 30px;
  }

  .acc-dot {
    width: 18px;
    height: 18px;
    border-width: 2px;
  }
  
  .accordion .container {
    overflow: hidden;
  }

  .row .col li a {
    font-size: 1.25em;
  }
  
  .section-content .row:last-of-type {
    padding: 15px 0 70px;
  }
    
  .section-header {
    font-size: 8vw;
  }
  
  .row .col li a {
    font-size: 1.15em;
    line-height: 1.25em;
  }
  
  .row .col li .tag {
    padding: 0 8px;
  }
  
  footer.not-acc a, .header.not-acc h1, .not-acc .trigger-left h2, .not-acc .trigger-right span {
    opacity: 1;
  }

  #is-resized {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

}
